Gemfile.lock
/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
vendor
.DS_Store

# rspec failure tracking
.rspec_status

# terraform artifacts
*.tfout
*.tfstate.backup
.terraform
